extends layout

block body
  div.container
    div.jumbotron
      h1= title
      form(method="post", action="/shorturl")                                          
        div.input-group          
          input.form-control(type="text", name="url")
          span.input-group-btn
            input.btn.btn-default(value="Encurtar", type="submit")