extends layout

block body
  div.container
    h1= title
    form(method="post", action="/shorturl") 
      span.label Informe a Ulr que deseja Encurtar
      br
      input(type="text", name="url")
      input(type="submit", value="Encurtar")